/target
/*.embcache
**/*.embcache
/.fastembed_cache
/.idea
/.zed
/test
.env
/developing_notes
/.vscode
/references
*.log

.DS_Store
.AppleDouble
.LSOverride
.opencode

/mutants.out/
/mutants.out.old/
graph_stats.json
raw_failed_*.json
